.container-breeds-card {
  .breeds-card {
    width: 220px;
    height: 220px;
    border-radius: 24px;

    background-color: rgb(87, 87, 8);
    margin: -190px 0px 0px 170px;
  }

  .text-card {
    color: #291507;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0 0 170px;
  }
}
